
body
{
    margin: 0;
}
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  #InputCloseBox
  {
      border: 1px solid white;
      width: 99.3%;
      padding: 1.5vw 1vw 1.5vw 1.5vw;
      display: flex;
      grid-gap: 1vw;
      justify-content: center;
  }
  #SearchInput
  {
      border: 1px solid white;
      height: 4vw;
      width: 95%;
      outline: none;
      padding: .5vw 1vw .5vw 1vw;
      font-size: 1.5vw;
      border: 0;
  }
  #SearchInput:hover
  {
      background-color: #f1f1f1;
  }
  #SubmitSearchInput
  {
      border: 1px solid;
      width: 5%;
      height: 4vw;
      padding: .5vw;
      font-size: 1.8vw;
      cursor: pointer;
      background-color: rgb(190, 190, 212);
  }
  #SubmitSearchInput:hover
  {
      background-color: #bbb;
  }
  .overlay-content {
      border: 1px solid white;
    position: relative;
    /* top: 46%; */
    width: 90%;
    text-align: center;
    padding: .5vw;
    display: flex;
  }
  
  .overlay .closebtn {
      border: 1px solid white;
      width: fit-content;
      cursor: pointer;
      color: white;
      font-size:3vw;
      padding: 0vw .6vw 0vw .6vw;
    /* position: absolute;
    /* top: 20px;
    right: 45px; */
    /* font-size: 60px;
    color: white; */
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
#NavbarContainer
{
    border: 1px solid;
    width: 95.86vw;
    padding: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    background-color: white;
}
#navbar
{
    border: 1px solid;
    width: 99.9%;
    display: flex;
}
#LogoBox
{
    border: 1px solid;
    width: 20%;
    height: 3.5vw;
    display: flex;
    cursor: pointer;
    background-color: white;
}
#HomeIcon
{
    border: 1px solid;
    width: 23.5%;
    height: 99.8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
}
#WebsiteNameBox
{
    border: 1px solid;
    width: 76%;
    height: 99.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
}
#MiddleBox
{
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: center;
    padding: .2vw;
}
.Middle
{
    border: 1px solid;
    width: 16%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    cursor: pointer;
}
#LoginSignUpBox
{
    border: 1px solid;
    width: 20%;
    display: flex;
    padding: .2vw;
    justify-content: center;
    grid-gap: .1vw;
}
.LoginSignUp
{
    border: 1px solid;
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}
#SearchIcon
{
    border: 1px solid;
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}

#CartProductContainer
{
    border: 1px solid;
    width: 92.8vw;

    margin: auto;
    margin-top: 7.95vw;
    padding: 4vw 2vw;
}
#CartProductSubContainer
{
    border: 1px solid;
    padding: 1vw;
}

#CartHeading
{
    border: 1px solid;
    padding: .4vw;
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    font-weight: bold;
}
#CartProduct
{
    border: 1px solid;
    padding: .4vw;
    width: 99%;
    margin: auto;
    display: flex;
}
#ProductDetailsHeading
{
    border: 1px solid;
    padding: .4vw;
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
}
#QyantityHeading
{
    border: 1px solid;
    padding: .4vw;
    width: 20%;
    display: flex;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    font-weight: bold;
}
#TotalHeading
{
    border: 1px solid;
    padding: .4vw;
    width: 20%;
    display: flex;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    font-weight: bold;
}
#CartProductShow
{
    border: 1px solid;
    padding: .4vw;
    width: 99%;
    margin: auto;
}

.EachProductContainer
{
    border: 1px solid;
    width: 99.8%;
    margin: auto;
    display: flex;
}
.EachProduct
{
    border: 1px solid;
    padding: .4vw;
    width: 58.1%;
    display: flex;
    grid-gap: .5vw;
}
.EachProductImageBox
{
    border: 1px solid;
    width: 30%;
    display: flex;
}
.EachProductImage
{
    border: 1px solid;
    width: 100%;
    height: 15vw;
}
.EachProductDetailsBox
{
    border: 1px solid;
    width: 66.5%;
    padding: .5vw;
}
.EachProductTitle
{
    border: 1px solid;
    width: 97%;
    display: flex;
    padding: .4vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: justify;
}
.EachProductRemoveButton
{
    border: 1px solid;
    width: 20%;
    margin-top: .5vw;
    padding: .2vw .5vw .5vw .2vw;
    font-size: 1.4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EachProductQyantity
{
    border: 1px solid;
    padding: .4vw;
    width: 19.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.QyantityBox
{
    border: 1px solid;
    width: 90%;
    padding: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .4vw;
}
.DecreaseBox
{
    border: 1px solid;
    padding: .2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}
.ShowQuantityBox
{
    border: 1px solid;
    padding: .2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    font-size: 1vw;
    outline: none;
}
.IncreaseBox
{
    border: 1px solid;
    padding: .2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}
.EachProductTotal
{
    border: 1px solid;
    padding: .4vw;
    width: 19.34%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.YourCartEmpty
{
    border: 1px solid;
    margin: auto;
    width: 50%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
}
.OurProductPage
{
    border: 1px solid;
    width: 20%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2vw;
    color: blue;
    margin: auto;
}

#SubTotalCheckOutContainer
{
    
    border: 1px solid;
    padding: .4vw;
    width: 99%;
}
#SubTotalContainer
{
    border: 1px solid;
    padding: .4vw 2.6vw .4vw .4vw;
    margin: auto;
    width: 96.2%;
    display: flex;
    font-size: 1.5vw;
    justify-content: end;
    align-items: center;
}
#TaxHeading
{
    border: 1px solid;
    padding: .4vw 2.6vw .4vw .4vw;
    margin: auto;
    width: 96.2%;
    display: flex;
    font-size: 1.2vw;
    justify-content: end;
    align-items: center;
}
#CheckoutContainer
{
    border: 1px solid;
    padding: .4vw 2.6vw .4vw .4vw;
    margin: auto;
    width: 96.2%;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-gap: .5vw;
}
#UpdateCartContainer
{
    
    border: 1px solid;
    width: 10%;
    padding: .4vw .6vw;
    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    cursor: pointer;
}
#CheckOutButtonContainer
{
    border: 1px solid;
    width: 10%;
    padding: .4vw .6vw;
    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    cursor: pointer;
}