
body
{
    margin: 0;
}
/* -----------------------------------------Navbar Start------------------------------------------- */
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  #InputCloseBox
  {
      border: 1px solid white;
      width: 99.3%;
      padding: 1.5vw 1vw 1.5vw 1.5vw;
      display: flex;
      grid-gap: 1vw;
      justify-content: center;
  }
  #SearchInput
  {
      border: 1px solid white;
      height: 4vw;
      width: 95%;
      outline: none;
      padding: .5vw 1vw .5vw 1vw;
      font-size: 1.5vw;
      border: 0;
  }
  #SearchInput:hover
  {
      background-color: #f1f1f1;
  }
  #SubmitSearchInput
  {
      border: 1px solid;
      width: 5%;
      height: 4vw;
      padding: .5vw;
      font-size: 1.8vw;
      cursor: pointer;
      background-color: rgb(190, 190, 212);
  }
  #SubmitSearchInput:hover
  {
      background-color: #bbb;
  }
  .overlay-content {
      border: 1px solid white;
    position: relative;
    /* top: 46%; */
    width: 90%;
    text-align: center;
    padding: .5vw;
    display: flex;
  }
  
  .overlay .closebtn {
      border: 1px solid white;
      width: fit-content;
      cursor: pointer;
      color: white;
      font-size:3vw;
      padding: 0vw .6vw 0vw .6vw;
    /* position: absolute;
    /* top: 20px;
    right: 45px; */
    /* font-size: 60px;
    color: white; */
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
#NavbarContainer
{
    border: 1px solid;
    width: 94.6vw;
    padding: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}
#navbar
{
    border: 1px solid;
    width: 99.9%;
    display: flex;
}
#LogoBox
{
    border: 1px solid;
    width: 20%;
    height: 3.5vw;
    display: flex;
    cursor: pointer;
}
#HomeIcon
{
    border: 1px solid;
    width: 23.5%;
    height: 99.8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
}
#WebsiteNameBox
{
    border: 1px solid;
    width: 76%;
    height: 99.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
}
#MiddleBox
{
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: center;
    padding: .2vw;
}
.Middle
{
    border: 1px solid;
    width: 16%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    cursor: pointer;
}
#LoginSignUpBox
{
    border: 1px solid;
    width: 20%;
    display: flex;
    padding: .2vw;
    justify-content: center;
    grid-gap: .1vw;
}
.LoginSignUp
{
    border: 1px solid;
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}
/* -------------------------------------------------------Navbar End----------------------------------------------------------------- */

#ProductContainerBox
{
    border: 1px solid blue;
    margin-top: 7.9vw;
    width: 94.6vw;
    padding: 0vw 2vw 2vw 2vw;
}
#ProductContainer
{
    border: 1px solid;
    width: 97.5%;
    margin: auto;
    padding: .8vw;
    height: 50vw;
}
#ProductHeading
{
    border: 1px solid;

    margin: 4vw 2vw 4vw 2vw;
    padding: .2vw;
    width: 95%;
    font-size: 2.2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AboveSortingBox
{
    border: 1px solid;
    width: 99%;
    margin: auto;
}
#AboveSorting
{
    border: 1px solid;
    width: 20%;
    margin: 0vw 0vw 0vw 2.6vw;
    display: flex;
}
#SelectSortProduct
{
    border: 1px solid;
    width: 90%;
    padding: .4vw;
    outline: none;

    font-size: 1.2vw;
}

#ProductFilteringContainer
{
    border: 1px solid;
    width: 98%;
    padding: .5vw;
    margin: auto;
    margin-top: 2vw;
    display: flex;
}
#FilteringContainer
{
    border: 1px solid;
    width: 23.5%;
    padding: .5vw;
}
#ProductShowContainer
{
    border: 1px solid;
    width: 74%;
    padding: .5vw;
}
#SearchContainer
{
    border: 1px solid;
    width: 99%;
    margin: auto;
    display: flex;
}
#SearchIcon
{
    border: 1px solid;
}
#SearchInputBox
{
    border: 1px solid;
}